.componentSettings {
    height: 100%;
    width: 250px;
    position: relative;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 40px;
}